apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: golang-example
    lang: golang
  name: golang-example
  namespace: ${NAMESPACE}
spec:
  replicas: ${DEFAULT_REPLICAS}
  selector:
    matchLabels:
      app: golang-example
      lang: golang
  template:
    metadata:
      labels:
        app: golang-example
        lang: golang
    spec:
      containers:
        - image: ${IMAGE_REGISTRY}/golang-example:${IMAGE_VERSION}
          imagePullPolicy: ${IMAGE_PULL_POLICY}
          name: golang-example
          resources:
            requests:
              cpu: ${RESOURCES_REQUESTS_CPU}
              memory: ${RESOURCES_REQUESTS_MEMORY}
          envFrom:
            - configMapRef:
                name: monorepo-env
          volumeMounts:
            - name: config-volume
              mountPath: /app/configs
              readOnly: true
      volumes:
        - name: config-volume
          configMap:
            name: golang-example-config

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: example-svc
    lang: golang
  name: golang-example-svc
  namespace: ${NAMESPACE}
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 8080
  selector:
    app: golang-example
    lang: golang
  type: ClusterIP
